<div class="background"></div>

<div class="container">

  <div class="icon"></div>
  <div class="coming-soon">COMING SOON!</div>
  <div class="text">Our website is under construction</div>
  <div class="watch"></div>


</div>
