:host {

  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/imgs/bg_under_construction.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #61045f;
      background: -webkit-linear-gradient(bottom, #aa076b, #61045f);
      background: -o-linear-gradient(bottom, #aa076b, #61045f);
      background: -moz-linear-gradient(bottom, #aa076b, #61045f);
      background: linear-gradient(bottom, #aa076b, #61045f);
      opacity: 0.7;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.3);
    }
  }


  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    color: ivory;

    .icon {
      background-image: url(/assets/icons/under_construction_icon.png);
      width: 120px;
      height: 120px;
      background-size: 100% 100%;


    }
    .coming-soon {
      font-size: 3rem;
    }
    .text {
      font-size: 2rem;
    }
    .watch {

    }
  }

}
