:host {

  .az-navbar {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;

    .item {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-weight: bolder;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color .1s ease-out;
      &:hover {
        background-color: rgba(135, 206, 250, 0.5);
      }

      &.active {
        background-color: rgba(135, 206, 250, 1);
      }
    }
  }
}
