<div class="az-navbar">
  <div class="item" *ngFor="let char of alphabet; let i = index" (click)="onCharClicked(char)"  title="{{ i == 0 ? 'All Characters' : char}}"
       [ngClass]="{'active': clickedVowel == char}"
 >{{char}}</div>
</div>
