<ul id="navbar-list" class="navbar-nav override">
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/random" class="nav-link override" id="Home" routerLinkActive="active">RANDOM</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/charList" class="nav-link override" id="About" routerLinkActive="active">HEROES</a>
  </li>
  <li class="nav-item override" (click)="onNavLinkClicked($event)">
    <a routerLink="/search" class="nav-link override" id="Artists" routerLinkActive="active">SEARCH</a>
  </li>
</ul>
<span class="drawer-inset-shadow"></span>
