:host {

  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 100;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.48);

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: url(/assets/imgs/marvel_shield.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .2;
  }

  .content {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    // TEXT
    h3 {margin-bottom: 2rem; font-size: 2.2rem;}

    // BUTTONS CONTAINER
    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 4rem;
      // BUTTONS STYLES
      button {
        min-width: 16rem;
        height: 3.4rem;
        border-radius: 50px;
        font-weight: bold;
        color: #555;
        border: 2px solid #555 !important;
        transition: all .3s ease-out;
        background-color: aquamarine;
        &:hover {
          background-color: #a4fdde;
          letter-spacing: 1px;
        }
      }
    }
  }
}
