<!-- LANDING PAGE-->
<div id="background"></div>
<div class="content">
  <!-- LANDING PAGE TEXT CONTENT -->
  <h3>THIS IS THE MOST AMAZING SPA TO DEAL WITH MARVEL API</h3>
  <h3>SEARCH AS MANY MARVEL CHARACTERS AS YOU LIKE</h3>
  <h3>PLEASE CHOOSE ONE OF THE FOLLOWING SECTIONS</h3>
  <!-- BUTTONS: SECTIONS LINKS -->
  <div class="buttons">
    <button (click)="goTo('random')">RANDOM CHARACTER</button>
    <button (click)="goTo('charList')">LIST OF CHARACTERS</button>
    <button (click)="goTo('search')">FREE TEXT SEARCH</button>
  </div>
</div>



