/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: elvalle;
  src: url(assets/fonts/roboto/Roboto-Light.ttf) format("opentype");
}
html {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 5rem;
  background-color: #fff;
  font-family: 'elvalle', 'arial', sans-serif;
  width: 100%;
  min-height: 100%;

}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}


// CUSTOM SCROLL BAR
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.64);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: rgba(85, 85, 85, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3b3737;
}


// SPINNER
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.spinner {
  position: absolute;
  top: calc(50% - 18px);
  right: .7rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left-color: #09f;
  z-index: 9999999;
  animation: spin 1s ease infinite;
}
