:host {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  margin-top: .65rem;
  margin-bottom: .35rem;
  z-index: 9999;


  .navbar-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .nav-toggler {
    position: absolute;
    display: block;
    margin-left: 1rem;
    left: 0;
    width: 25px;
    height: 40px;
    transition: 0.3s ease;
    z-index: 9999;
  }

  .nav-toggler span {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 3px;
    background-color: black;
    transition: 0.3s ease;
    transform-origin: center;
  }

  .nav-toggler span:nth-child(1) {
    top:26%;
  }

  .nav-toggler span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-toggler span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-toggler span:nth-child(4) {
    bottom: 26%;
  }

  .nav-toggler.drawer-open span:nth-child(1) {
    top: 50%;
    left: 50%;
    width: 0;
    opacity: 0;
  }

  .nav-toggler.drawer-open span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .nav-toggler.drawer-open span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .nav-toggler.drawer-open span:nth-child(4) {
    bottom:50%;
    left: 50%;
    width: 0;
    opacity: 0;
  }

  .navbar-brand {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: black;

    // MARVEL LOGO
    background-image: url(/assets/imgs/marvel_logo.png);
    background-size: auto 40px;
    background-repeat: no-repeat;
    padding-left: 3.4rem;

  }

  @media screen and (min-width: 48rem) {

    .nav-toggler,
    .nav-toggler.open {
      display: none;
    }

    .navbar-brand {
      margin: 0 1rem 0 0;
    }

  }
}
