
:host {


  /* background: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i); */
  @mixin random-bgr(){
    // border: 1px solid rgb(random(255), random(255), random(255));
    background: rgba(random(255), random(255), random(255), 1);
  }

  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 100;
  padding: 1rem;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 1rem;



    // CHARACTERS GRID
    .grid {
      position: relative;
      width: 100%;
      //height: 90% !important;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;

      .item {
        position: relative;
        width: 30%;
        height: 25vh;
        margin: 5px;
        color: #333;
        border-radius: 4px;
        transition: all .2s ease-out;
        &.active {
          position: absolute;
          top: 120%;
          width: 100%;
          height: 65vh;
          .item-content {
            .item-title {
              font-size: 1.6rem;
            }
            .item-img {
              margin-left: 2rem;
              width: 40%;

              img {margin-left: -44%;}
            }
            .item-extra-info {
              display: grid;
            }
          }
        }
        &.small {
          width: 22%;
          height: 10%;

          img {
            display: none;
          }
        }



        // Hover effect for grid items.
        &:not(.active):hover {
          .item-background {
            opacity: .8;
          }
          .item-title {
            letter-spacing: 1px;
          }
          .item-img img { transform: scale(1.2)}
        }

        .item-background {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 3px solid rgba(0, 0, 0, 0.8);
          border-radius: 4px;
          opacity: .2;
          transition: opacity .1s ease-out;
          pointer-events: none;
        }
        // Random background color for each item.
        @for $i from 0 to 10 {
          &:nth-child(#{$i}) .item-background {
            @include random-bgr();
          }
        }

        .item-content {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          pointer-events: none;
          .item-title {
            margin-top: .8rem;
            margin-bottom: .8rem;
            font-weight: bolder;
            z-index: 9999;
            transition: letter-spacing .1s ease-out;

          }

          .item-img {
            position: relative;
            margin: auto;
            z-index: 9999;
            width: 92%;
            height: 75%;
            overflow: hidden;
            img {
              margin: auto;
              z-index: 9999;
              height: 100%;
              transition: transform .2s ease-out;
            }
          }

          .item-extra-info {
            display: none;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: max-content;
            position: absolute;
            width: 55%;
            right: 1rem;
            bottom: 2rem;
            height: 80%;
            pointer-events: all;
            padding-top: 1rem;
            padding-right: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
            span {
              font-weight: bold;
              text-align: center;
              margin-bottom: .8rem;
              white-space: nowrap ;
            }

            ul {
              height: 100%;
              overflow: auto;
              overflow-x: hidden;
              list-style-type: none;
              white-space: nowrap ;

              li {
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                text-align: left;

                &:before {
                  content: 'ø ';
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }




    // CONTROLS FOR PAGINATION
    pagination-controls {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
    }


    // LOADER
    .spinner {
      position: absolute;
      top: 38vh;
      left: calc(50% - 40px);

      &.hidden {
        display: none;
      }
    }

    // A-Z NAVBAR
    app-aznav-bar {
      position: absolute;
      top: 80px;
      right: -1.6rem;
    }
  }
}



