<!-- LIST OF CHARACTERS -->
<div class="container">

  <!-- CHARACTERS GRID -->
  <div class="grid">
    <div class="item" [attr.data-char-id]="char.id" *ngFor="let char of asyncChars | async |
    paginate: { id: 'serverControls', itemsPerPage: itemsPerPAge, currentPage: pageNumber, totalItems: total }"
         (click)="onCharacterClicked($event)" [ngClass]="{ 'active': selectedCharId == char.id, 'small':  selectedCharId != char.id && selectedCharId != ''}">
      <div class="item-content" *ngIf="!loading">
        <div class="item-background"></div>
        <span class="item-title">{{ char.name }}</span>
        <div class="item-img"><img src="{{char.thumbnail.path + '/landscape_incredible.' + char.thumbnail.extension}}" alt="HeroImg"></div>
        <div class="item-extra-info">
          <span>COMICS</span>
          <span>SERIES</span>
          <span>STORIES</span>
          <ul class="comics"><li  title="{{c.name}}" *ngFor="let c of char.comics.items">{{c.name}}</li></ul>
          <ul class="series"><li  title="{{c.name}}" *ngFor="let c of char.series.items">{{c.name}}</li></ul>
          <ul class="stories"><li title="{{c.name}}" *ngFor="let c of char.stories.items">{{c.name}}</li></ul>
        </div>
      </div>
    </div>
  </div>


  <!-- PAGINATION CONTROL -->
  <pagination-controls (pageChange)="getCharactersPage($event, clickedVowel)" id="serverControls"></pagination-controls>
  <!-- LOADER -->
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <!-- A-Z navbar -->
  <app-aznav-bar (vowelClicked)="onVowelClicked($event)"></app-aznav-bar>

</div>
